.kbin_main_photo_overlay {
    background-color: #3c1048;
    h5 {
      font-family: 'Anaheim', sans-serif, helvetica;
      font-weight: 400;
      color: rgb(241, 89, 42);
      font-size: 22px;
    }
    p {
      font-family: 'Anaheim', sans-serif, helvetica;
      font-size: 20pX;
      a {
        font-family: 'Anaheim', sans-serif, helvetica;
        color: rgb(241, 89, 42);
        font-size: 20pX;
      }
    }
  }