<div class="container-fluid kbin_site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <p>
          <br>
          <i class="far fa fa-copyright"></i> 2018 Knowledge Building Innovation Network.All Rights Reserved
        </p>
      </div>
      <div class="col-12 col-md-3">
        <span style="font-size:3em; color:#3b5998; padding:0px 10px" class="float-right float-md-none">
          <i class="fab fa-facebook-square"></i>
        </span>
        <span style="font-size:3em; color:#00aced" class="float-right mx-2 mx-md-0 float-md-none">
          <i class="fab fa-twitter-square"></i>
        </span>
      </div>
    </div>
  </div>
</div>
