<!-- navbar -->
<section class="login-signup-menu">
  <nav class="login-signup-navbar login-signup-navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header login-signup-navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="login-signup-navbar-brand kbin_logo" href="#">
          KB<span>i</span>N
        </a>
        <ul class="login-signup-nav login-signup-navbar-nav  uk-display-inline-block">
          <li class="float-left">
            <span class="kbin_smalltext">
              Knowledge Building Innovation Network
            </span>
          </li>
          <li class="float-right"><a class="link nav-link" href="/signup">Sign Up</a></li>
          <li class="float-right"><a class="link nav-link" href="/login">Login</a></li>
        </ul>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right login_menu">
          <li><a href="/login">Login</a></li>
          <li><a href="/signup" class="active">Sign Up</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</section>