.top-buffer {
    margin-top: 20px;
}

.kbin_h3 {
    font-family: 'Anaheim', sans-serif, helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #3b1347;
}

.kbin_nav-link {
    color: #9165ab !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15PX;
}