.kbin_post-info-bar {
    background-color: whitesmoke;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}