.kbin_contributions-mast-back {
    background-color: #3c1048;
    height: 40vh;
}

.kbin_contributions-mast-front {
    opacity: 0.8;
    top: 10vh;
}

.kbin_contributions-mast-search {
    top: 15vh;
}