<div class="container-fluid kbin_contributions-mast-back">
  <div class="row  justify-content-center ">
      <div class="col-4 align-middle kbin_contributions-mast-front">
          <h5 class="text-center" style="color: rgba(245,245,245,1)">Global Contributors</h5>
          <p class="text-center text-justify" style="color:whitesmoke">
              Explore the map and links to biographics to find people with shared intrests and experiences.
          </p>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-4 kbin_contributions-mast-search">
          <div class="form-row">
              <div class=" col-10">
                  <input type="text" class="form-control kbin_form-control">
              </div>
              <div class="col-2">
                  <button class=" btn kbin_btn-orange">Search</button>
              </div>
          </div>

      </div>

  </div>
</div>
<!-- /Mast -->


<div id="map" style="width:100%;height:70vh;margin:0px;padding:0px"></div>
