  <div class="row justify-content-between top-buffer">
      <div class="col-7 align-self-center">
          <h5 class="align-middle ">Open Innovation Challenges</h5>
      </div>
      <div class="col-5">
          <form class="form-inline" style="padding:0;">
              <div class="form-group mx-sm-3 ">
                  <input type="text" class="form-control kbin_form-control" id="search_box" placeholder="Search Something here">
              </div>
              <button type="submit" class="btn kbin_btn-primary">Search</button>
          </form>

      </div>
  </div>
  <br>

